.DS_Store
data/*
!data/data.zip
figures/*
notebooks/*

!notebooks/0_barcode_processing.ipynb
!notebooks/1_monocolonization_muller_fig.ipynb
!notebooks/1a_monocolonization_muller_supplementary.ipynb
!notebooks/2_monocolonization_transmission_figs.ipynb
!notebooks/2a_cecum_feces_correlations.ipynb

!notebooks/6_comm_transmission_figs.ipynb
# !notebooks/7_invitro.ipynb
!notebooks/7a_invitro_supplementary.ipynb






